/*Global Rules*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* img {
  max-width: 100%;
  width: 100%;
} */

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

p {
    line-height: 40px !important;
}
.pt {
    background-color: var(--background-color);
    padding-top: 5%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

button {
    font-family: "Oswald", serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-typing);
    background-color: var(--btn-color);
    padding: 1em 2em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: var(--smooth);
}
button:hover {
    color: var(--primary-color);
    background-color: var(--btn-hover);
    transition: var(--smooth);
}

:root {
    --background-color: #eafdfc;
    --primary-color: #e6f1ff;
    --secondary-color: #82aae3;
    --primary-typing: #2a3d5e;
    --secondary-typing: #f9f9f9;
    --gradient-first-color: #77aae7;
    --gradient-second-color: #7ad8e5;
    --btn-color: #e2f0ff;
    --btn-hover: #7aacf8;
    --smooth: all 0.3s ease-in;
    --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
}

/*Header*/
header {
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
    background-color: var(--background-color);
}

/*Logo*/
.navbar__logo {
    display: flex;
    align-items: center;
    z-index: 3;
}

.navbar__logo img {
    width: 75px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 8px 0;
}

.navbar__logo p {
    font-family: "Red Hat Display", serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: var(--primary-typing);
    margin-left: 14px;
    margin-top: 10px;
}

/*Menu*/
.navbar__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--background-color);
    /*Ham*/
    transform: translate(-100%);
    opacity: 0;
    z-index: 5;
    transition: var(--smooth);
}

.navbar__links.navbar__open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.navbar__link {
    font-size: 1.35rem;
    margin: 55px;
    list-style: none;
}

.navbar__link a {
    font-family: "Oswald", serif;
    color: var(--primary-typing);
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--smooth);
    padding: 8px 15px;
}

.navbar__link a:hover {
    color: var(--secondary-typing);
    transition: var(--smooth);
}

.navbar__link:hover {
    background-color: var(--btn-hover);
    transition: var(--smooth);
}

.navbar__btn {
    font-family: "Oswald", serif;
    font-weight: bold;
    font-size: 1.125rem;
    margin-left: 35px;
    border: 2px solid var(--secondary-color);
}

/* icon  */
.navbar__ham {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar__icon {
    width: 45px;
    height: 6px;
    background: var(--primary-typing);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background: var(--primary-typing);
    border-radius: 5px;
    transition: var(--smooth);
}

.navbar__icon:before {
    transform: translateY(-12px);
}

.navbar__icon:after {
    transform: translateY(12px);
}

/* icon animation  */
.open .navbar__icon {
    transform: translateX(-50px);
    background: transparent;
}

.open .navbar__icon:before {
    transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
    .navbar__links {
        position: initial;
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar__link {
        margin: 0 25px;
        padding: 15px;
        background-color: var(--btn-color);
        border-radius: 10px;
    }
    .navbar__link:hover {
        background-color: var(--btn-hover);
        color: var(--btn-color);
    }
    .navbar__btn {
        margin-left: 0;
        border: none;
    }
    .navbar__ham {
        display: none;
    }
}

/*Banner*/
#banner .container {
    background-color: var(--background-color);
    padding: 50px 0;
}

.banner__desc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    z-index: 3;
}

.banner__desc img {
    width: 50%;
}

.banner__tag {
    font-size: 2.625rem;
    font-weight: bold;
    font-family: "Red Hat Display", serif;
    color: var(--primary-typing);
    text-transform: uppercase;
    padding: 5px 0;
}

.banner_img {
    width: 40%;
    margin-left: 100px;
}

.banner__title {
    font-size: 1.375rem;
    font-weight: bold;
    font-family: "Red Hat Display", serif;
    color: var(--gradient-first-color);
    text-transform: uppercase;
    padding: 5px 0;
}

.banner__detail {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Oswald", serif;
    color: var(--primary-typing);
    text-transform: capitalize;
    margin-top: 25px;
}

.banner__btn {
    font-family: "Oswald", serif;
    margin-top: 54px;
}

.banner__btn button {
    font-size: 1.5rem;
    margin: 0 20px;
}

@media (min-width: 62em) {
    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, var(--gradient-first-color), var(--gradient-second-color));
        clip-path: circle(850px at left 500px);
        /* height: 93%; */
        z-index: -999;
    }

    #banner .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner__img {
        order: 2;
        width: 55%;
        /* margin-right: 50px; */
    }
    .banner__desc {
        order: 1;
        text-align: initial;
        width: 50%;
        padding: 0 0 0 50px;
    }
    .banner__detail {
        max-width: 800px;
        width: 100%;
    }
    .banner__title {
        width: 90%;
        color: var(--secondary-typing);
    }
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
