@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

:root {
  --background-color: #eafdfc;
  --primary-color: #e6f1ff;
  --secondary-color: #82aae3;
  --primary-typing: #2a3d5e;
  --secondary-typing: #f9f9f9;
  --gradient-first-color: #77aae7;
  --gradient-second-color: #7ad8e5;
  --btn-color: #e2f0ff;
  --btn-hover: #7aacf8;
  --smooth: all 0.3s ease-in;
  --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  /* height: 100vh; */
}

/*Header*/
header {
  background-color: var(--background-color);
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 25px 15px 25px 15px;
  margin-bottom: 30px;
  background-color: var(--background-color);
}

/*Logo*/
.navbar__logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

.navbar__logo img {
  width: 75px;
  border-radius: 50%;
  padding: 8px 0;
}

.navbar__logo p {
  font-family: "Red Hat Display", serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--primary-typing);
  margin-left: 14px;
  margin-top: 45px;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  font-size: 1.125rem;
  margin: 55px;
  list-style: none;
}

.navbar__link a {
  font-family: "Domine", serif;
  color: var(--primary-typing);
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--smooth);
  padding: 20px;
}

.navbar__link a:hover {
  color: var(--secondary-typing);
  transition: var(--smooth);
}

.navbar__link:hover {
  background-color: var(--btn-hover);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1.125rem;
  margin-left: 35px;
  border: 2px solid var(--secondary-color);
}

/* icon  */
.navbar__ham {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background: var(--primary-typing);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background: var(--primary-typing);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* icon animation  */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link {
    margin: 0 25px;
    padding: 15px;
    background-color: var(--btn-color);
    border-radius: 10px;
  }
  .navbar__link:hover {
    background-color: var(--btn-hover);
    color: var(--btn-color);
  }
  .navbar__btn {
    margin-left: 0;
    border: none;
  }
  .navbar__ham {
    display: none;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/

h1 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-hover);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input:focus {
  outline: 2px solid var(--gradient-first-color);
}

.container1 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--background-color);
  background: linear-gradient(
    to right,
    var(--gradient-first-color),
    var(--gradient-second-color)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel img {
  width: 60%;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
