{% extends "index-base.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/home.css" />
{% endblock %} {% block header %}
<header class="container" id="top">
    <div class="wrapper">
        <div class="navbar">
            <!--Logo-->
            <div class="navbar__logo">
                <img src="../static/images/ParlaLogo.png" alt="Parla Logo" />
                <p>Parla-Chatbot</p>
            </div>
            <!--Links-->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#banner">Articles</a></li>
                <li class="navbar__link">
                    <a href="{{url_for('account')}}">Profile</a>
                </li>
                <li class="navbar__link"><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
            <!--Icon-->
            <div class="navbar__ham">
                <div class="navbar__icon"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %} {% block content %}
<section id="banner">
    <div class="container">
        <img src="../static/images/ParloHello.png" alt="Parlo Hello" class="banner_img" />
        <div class="banner__desc">
            <img src="../static/images/ParlaLogo.png" alt="Parlo Logo" class="banner__img" />
            <div class="banner__btn">
                <a href="#contact"><button>Ask Parlo</button></a>
                <a href="{{url_for('test_yourself')}}"><button>Test Yourself</button></a>
            </div>
            <p class="banner__detail">“Being able to be your true self is one of the strongest components of good mental health.” -Lauren Fogel Mersy</p>
        </div>
    </div>
</section>
{% endblock %}
