{% extends "index-base.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/landing.css" />
{% endblock %} {% block header %}
<header class="container" id="top">
    <div class="wrapper">
        <div class="navbar">
            <!--Logo-->
            <div class="navbar__logo">
                <img src="../static/images/ParlaLogo.png" alt="Parla Logo" />
                <p>Parla-Chatbot</p>
            </div>
            <!--Links-->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#banner">Articles</a></li>
                <li class="navbar__link">
                    <a href="#how-it-works">How it works?</a>
                </li>
                <li class="navbar__link">
                    <a href="{{url_for('sign_up')}}">Register</a>
                </li>
                <li class="navbar__link">
                    <a href="{{url_for('login')}}">Login</a>
                </li>
                <a href="#contact"><button class="navbar__btn">Contact</button></a>
            </ul>
            <!--Icon-->
            <div class="navbar__ham">
                <div class="navbar__icon"></div>
            </div>
        </div>
    </div>
</header>

{% endblock %} {% block content %}
<div class="circle"></div>
<section id="banner">
    <div class="container">
        <div class="banner__img">
            <img src="../static/images/ParlaLanding.png" alt="Parla Landing Image" />
        </div>
        <div class="banner__desc">
            <h2 class="banner__tag">Online Mental Health Chatbot</h2>
            <h1 class="banner__title">Taking a step today and talking today will help you lead a better tomorrow</h1>
            <p class="banner__detail">There is no specific medicine to prevent or treat mental health disorders. People need only supportive care.</p>
            <div class="banner__btn">
                <a href="#contact"><button>Get Started</button></a>
            </div>
        </div>
    </div>
</section>
<!-- What Is -->
<section id="whatis">
    <div class="container">
        <div class="whatis__img">
            <img src="../static/images/what-is.png" alt="what is illustration" />
        </div>
        <div class="whatis__desc">
            <h4 class="section__tag">what is mental health disorder</h4>
            <h3 class="section__title">Mental Health</h3>
            <p class="section__detail">
                Mental illness, also called mental health disorders, refers to a wide range of mental health conditions — disorders that affect your mood, thinking and behavior.
                Examples of mental illness include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviors.
            </p>
            <div class="whatis__btn">
                <a href="#symptoms"><button>Learn More</button></a>
            </div>
        </div>
    </div>
</section>
<section id="what-is-parla">
    <div class="container">
        <div class="what-is-parla__desc">
            <p class="section__detail">
                <strong>Parla Chatbot</strong> is a website that provides people with mental disorders with a quick and accurate diagnosis using a robot. It also raises the
                awareness about the dangers of not resorting to psychological treatment when it is needed. The main goal of the project is to provide the fastest and finest way to
                reduce the phenomenon of depression and suicide that is recently faced by our society by using science and technology.
            </p>
        </div>
        <div class="what-is-parla__img">
            <img src="../static/images/ParloWithPhone.png" alt="Parla illustration" />
        </div>
    </div>
</section>
<section id="contagion" class="pt">
    <div class="container">
        <div class="wrapper">
            <div class="section__heading" id="how-it-works">
                <h4 class="section__tag">Parla Chatbot</h4>
                <h3 class="section__title">How it works?</h3>
                <p class="section__details">Parlo will answer all your questions that is related to mental health and also test your mental stability</p>
            </div>
            <div class="contagion__cards">
                <!-- card 1 -->
                <div class="contagion__card">
                    <img src="../static/images/ParloWithLamp.png" alt="girl coughing illustration" />
                    <h2>Make an Account</h2>
                    <p>Easily make an account by registering your information and login to keep your data and have your privacy</p>
                </div>
                <!-- card 2 -->
                <div class="contagion__card">
                    <img src="../static/images/ParloWithScreen.png" alt="holding hands illustration" />
                    <h2>Ask the Parlo</h2>
                    <p>If you want to know more about mental health problems you can text Parlo and he will answer you with the accurate answer</p>
                </div>
                <!-- card 3 -->
                <div class="contagion__card">
                    <img src="../static/images/ParloQA.png" alt="cup illustration" />
                    <h2>Check Yourself</h2>
                    <p>Parlo will ask you some questions and based on your answers he will tell you if you need help</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact-->
<section id="contact" class="pt">
    <div class="container">
        <div class="wrapper">
            <div class="contact__title">
                <h1>Have Question in mind? Let us help you</h1>
            </div>
            <form class="contact__form">
                <input type="text" placeholder="Please enter your email..." />
                <button>Send</button>
            </form>
        </div>
    </div>
</section>
<!--Footer-->
<footer class="pt">
    <div class="wrapper">
        <div class="footer__top">
            <!-- logo -->
            <div class="navbar__logo">
                <img src="../static/images/ParlaLogoSlog.png" alt="logo" />
                <p>Parla-Chatbot</p>
            </div>
        </div>
        <p class="copy-rights">2023 &copy; All rights reserved by CTRL+R ASU</p>
    </div>
</footer>
<div class="up">
    <a href="#top">
        <i class="fa-solid fa-arrow-up-long fa-2x"></i>
    </a>
</div>
{% endblock %}
