{% extends "index-base.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/home.css" />
<link rel="stylesheet" href="../static/css/testyourself.css" />
<link rel="stylesheet" href="../static/css/show-tests.css" />
{% endblock %} {% block header %}
<header class="container" id="top">
    <div class="wrapper">
        <div class="navbar">
            <!--Logo-->
            <div class="navbar__logo">
                <img src="../static/images/ParlaLogo.png" alt="Parla Logo" />
                <a href="{{url_for('home')}}"><p>Parla-Chatbot</p></a>
            </div>
            <!--Links-->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#banner">Articles</a></li>
                <li class="navbar__link">
                    <a href="{{url_for('account')}}">Profile</a>
                </li>
                <li class="navbar__link"><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
            <!--Icon-->
            <div class="navbar__ham">
                <div class="navbar__icon"></div>
            </div>
        </div>
    </div>
    <div class="circle"></div>
</header>
{% endblock %} {% block content %}

<div class="container2">
    <div class="banner__desc">
        <img src="../static/images/ParloWithScreen.png" alt="Parlo Hello" class="banner_img" style="margin-right: 10rem" />
        <div id="highScores" class="flex-center flex-column">
            <h1 id="finalScore">High Scores</h1>
            <ul id="highScoresList"></ul>
            <a class="btn" href="/">Go Home</a>
        </div>
    </div>
</div>

<script src="../static/js/show.js"></script>
{% endblock %}
