{% extends "index-base.html" %} {% block style %}
<link rel="stylesheet" href="../static/css/testyourself.css" />
<link rel="stylesheet" href="../static/css/home.css" />
<link rel="stylesheet" href="../static/css/testQ.css" />
{% endblock %} {% block header %}
<header class="container" id="top">
    <div class="wrapper">
        <div class="navbar">
            <!--Logo-->
            <div class="navbar__logo">
                <img src="../static/images/ParlaLogo.png" alt="Parla Logo" />
                <a href="{{url_for('home')}}"><p>Parla-Chatbot</p></a>
            </div>
            <!--Links-->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="#banner">Articles</a></li>
                <li class="navbar__link">
                    <a href="{{url_for('account')}}">Profile</a>
                </li>
                <li class="navbar__link"><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
            <!--Icon-->
            <div class="navbar__ham">
                <div class="navbar__icon"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %} {% block content %}
<div class="container3">
    <div id="game" class="justify-center flex-column">
        <div id="hud">
            <div id="hud-item">
                <p id="progressText" class="hud-prefix">Question</p>
                <div id="progressBar">
                    <div id="progressBarFull"></div>
                </div>
            </div>
            <div id="hud-item">
                <p class="hud-prefix">Score</p>
                <h1 class="hud-main-text" id="score">0</h1>
            </div>
        </div>
        <h2 id="question">What is the answer to this questions?</h2>
        <div class="choice-container">
            <p class="choice-prefix">A</p>
            <p class="choice-text" data-number="1">Choice 1</p>
        </div>
        <div class="choice-container">
            <p class="choice-prefix">B</p>
            <p class="choice-text" data-number="2">Choice 2</p>
        </div>
        <div class="choice-container">
            <p class="choice-prefix">C</p>
            <p class="choice-text" data-number="3">Choice 3</p>
        </div>
        <div class="choice-container">
            <p class="choice-prefix">D</p>
            <p class="choice-text" data-number="4">Choice 4</p>
        </div>
    </div>
</div>

<script src="../static/js/test.js"></script>
{% endblock %}
